.markdown-section p>code, .markdown-section li>code {
	color: #c7254e;
	background-color: #f9f2f4;
	border-radius: 4px;
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
	padding: 2px 4px;
	font-size: 90%;
	font-weight: normal !important;
}

.markdown-section a {
    font-weight: normal !important;
}

.markdown-section pre>code.lang-sql {
	white-space: break-spaces !important;
}

.markdown-section blockquote {
    color: #aaaaaa !important;
}

.markdown-section blockquote p {
    font-weight: normal !important;
    font-size: 0.9rem !important;
}

.page_toc ul a {
	font-size: 0.9rem !important;
    text-decoration: none !important;
}

.page_toc .active {
	border-left: none !important;
	padding-left: 0 !important;
	font-weight: bold;
}

table th {
	background: #EEEEEE;
}

/** 图片居中 **/
img[src*='#center'] { 
    display: block;
    margin: auto;
}